<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ "/static/style.css" | relative_url }}">
    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>
  <body>
    <main class="p-4 mx-auto max-w-4xl lg:py-14 lg:w-2/3">
      {{ content }}
    </main>
  </body>
</html>
